//main background
$VeryDarkBlue: hsl(233, 47%, 7%);
//card background
$DarkDesaturatedBlue: hsl(244, 38%, 16%);
//accent
$SoftViolet: hsl(277, 64%, 61%);
//main heading, stats
$White: hsl(0, 0%, 100%);
//main paragraph
$SlightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
//stat headings
$SlightlyTransparentWhite: hsla(0, 0%, 100%, 0.6);


*,::after,::before{
    box-sizing: border-box;
}


// - Mobile: 375px
// - Desktop: 1440px
body {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	background-color: $VeryDarkBlue;
	min-height: 100vh;
	padding-top: 150px;
    
    // @media (max-width:1440px){
    //     padding:30px;

    // }
}

main{
    max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
	text-align: center;
    background-color: $DarkDesaturatedBlue;
    border-radius: 15px;
    height: 400px;
    color: $White;
    text-align: left;

    // text container
    section:first-of-type {
        padding-top: 15px;
        float: left;
        padding-left: 40px;
        padding-right: 75px;
        
        h1{
            font-weight: 700;
            font-size: 35px;

            span{
                color: $SoftViolet;
            }
        }

        p {
            line-height: 2em;
            font-size: 15px;
            
        }
        

        .stats{
            margin: auto;
            padding:0px;
            width: 30%;
            display: inline-block;
            vertical-align: text-top;
            p:first-of-type{
                font-size: 30px;
                font-weight: 700;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: 0;
                padding-top:20px;
                vertical-align: text-bottom;
            }
            p:last-of-type{
                margin: auto;
                text-transform: uppercase;
            }
        }
    }
    // img container
    section:last-child{
        float: right;
        padding:0;
        position: relative;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-top-right-radius: 15px ;
            border-bottom-right-radius: 15px ;
        }
        #tint{
            width: 100%;
            height: 100%;
            border-top-right-radius: 15px ;
            border-bottom-right-radius: 15px ;
            background-color: rgba($SoftViolet,.6);
            position:absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }
    }
    section{
        width: 50%;
        height: 100%;
    }
}